*{
    
    box-sizing: border-box;
    margin: 0;
}

header {
	background-color: #ffd51cb0; /* fondo */
    text-align: center;
	color: #000000; /* texto */
    width: auto;
    padding: 1rem;
}


#navbar {
    background-color: #ffd51cb0; /* fondo */
	color: #000000; /* texto */
    display: flex;
    position: sticky;
    top: 0;    
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }
   

.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}
  
.menu li {
    margin-left: 1rem;
}

@media (max-width: 200px) {
    #navbar {
      display: none;
    }
}

a {
    color: #000; /* color del texto del enlace */
    text-decoration: none; /* eliminar subrayado por defecto */
}
  
a:hover {
    text-decoration: underline; /* agregar subrayado cuando se pasa el cursor por encima */
}

/*----------------------- HOME - borde verde ------------------------------- */

#home {
    border: 2px solid green;   
    height: 500px;
}

/*-----------------------SECTION 1 - imagenes shows  borde amarillo-------------------------------- */


#flex-container1{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid yellow;
}

#flex-container1 article{
    text-align: center;
    margin: 1rem;
    max-width: 15rem;
}

#flex-container1 article img{
    display: block;
    max-width: 100%;
    max-height: 200px;
    height: auto;
    margin: 20px 0;
    border-radius: .5rem;
    transition: transform 0.2s ease-in-out;
}

article img:hover {
    transform: scale(1.1);
}

#flex-container1 article button{
    padding: .5rem;
    font-weight: bold;
    border: 1px solid orange;
    background-color: yellow;
    border-radius: 5px;
}


/*-----------------------SECTION 2 calendario - borde negro-------------------------------- */

#calendario{
    border: 1px solid;
    height: 20rem;
    padding: 3rem 0;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
}
  

/*---------------- SECTION 3 - formulario para compra y subscripcion - borde violeta-------------------------------- */

#comprar{
    border: 2px solid violet;
    display: flex;
    height: 20rem;
}

<<<<<<< HEAD
form table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;
}

form table td, th {
    border: 1px solid black;
    padding: 10px;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 80px;
    border: 1px solid yellow;
    border-radius: 5px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
  
input[type="submit"], button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #3e8e41;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    width: 200px;
  }
  
  select option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ccc;
  }
  
  select option:last-child {
    border-bottom: none;
  }
  

=======
>>>>>>> parent of 523aef9 (comienzo el form)
/*-----------------------SECTION 4 - contacto y mapa - borde azul-------------------------------- */
#contacto {
    border: solid 2px blue;
    text-align: center;
}


/*----------------------- FOOTER -------------------------------- */

footer {
    background-color: #ffd51cb0; /* fondo */
	color: #000000; /* texto */
}

#copy{
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}