*{
    
    box-sizing: border-box;
    margin: 0;
}

header {
	background-color: #ffd51cb0; /* fondo */
    text-align: center;
	color: #000000; /* texto */
    width: auto;
    padding: 1rem;
}


#navbar {
    background-color: #ffd51cb0; /* fondo */
	color: #000000; /* texto */
    display: flex;
    position: sticky;
    top: 0;    
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }
   

.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
  
.menu li {
    margin-left: 1rem;
}

@media (max-width: 200px) {
    #navbar {
      display: none;
    }
}

a {
    color: #000; /* color del texto del enlace */
    text-decoration: none; /* eliminar subrayado por defecto */
}
  
a:hover {
    text-decoration: underline; /* agregar subrayado cuando se pasa el cursor por encima */
}

/*----------------------- HOME - borde verde ------------------------------- */

#home {
    border: 2px solid green;   
    height: 500px;
}

/*-----------------------SECTION 1 - imagenes shows  borde amarillo-------------------------------- */


#flex-container1{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid yellow;
}

#flex-container1 article{
    text-align: center;
    margin: 1rem;
    max-width: 15rem;
}

#flex-container1 article img{
    display: block;
    max-width: 100%;
    max-height: 200px;
    height: auto;
    margin: 20px 0;
    border-radius: .5rem;
    transition: transform 0.2s ease-in-out;
}

article img:hover {
    transform: scale(1.1);
}

#flex-container1 article button{
    padding: .5rem;
    font-weight: bold;
    border: 1px solid orange;
    background-color: yellow;
    border-radius: 5px;
}


/*-----------------------SECTION 2 calendario - borde negro-------------------------------- */


.calendar {
    font-family: Arial, sans-serif;
    width: 100%;
    border: 1px solid;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  thead th {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    text-align: center;
  }
  
  tbody td {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 60px;
    padding: 10px;
    text-align: center;
  }
  
  tbody td:first-child {
    color: #f00;
  }
  
  tbody td:hover {
    background-color: #f0f0f0;
  }
    


/*---------------- SECTION 3 - formulario para compra y subscripcion - borde violeta-------------------------------- */

#comprar{
    border: 2px solid violet;
    display: flex;
    height: 20rem;
}

/*-----------------------SECTION 4 - contacto y mapa - borde azul-------------------------------- */
#contacto {
    border: solid 2px blue;
    text-align: center;
}


/*----------------------- FOOTER -------------------------------- */

footer {
    background-color: #ffd51cb0; /* fondo */
	color: #000000; /* texto */
}

#copy{
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}